<h1><center><b><u><span style="color:blue">ASSIGNMENT-1 </span></u>(Python Basics)</b></center></h1>

<h2><b><u><span style="color:red">Part A: Variables </span></u>(25 Questions)</b></h2>

<h4><b>Ques1:</b> Define what a variable is in Python. Give an example.</h4>

<h3><b>Answer:</b><u><span style="color:red">Variables in Python:</span></u>
<h5>In Python, variables are used to store data that can be referenced and manipulated during program execution. A variable is essentially a name that is assigned to a 
value. Unlike many other programming languages, Python variables do not require explicit declaration of type. The type of the variable is inferred based on the value assigned. 
Variables act as placeholders for data. They allow us to store and reuse values in our program.</h5>

<h4><b><u>Example:</u></b></h4>


# Variable 'x' stores the integer value 3 
x = 3 
# Variable 'name' stores the string "CSE" 
name = "CSE"  
print(x) 
print(name)

<h4><b>Ques2:</b>Create 3 variables x, y, and z with integer, float, and string values. Print their types.</h4>

<h5><u><b>Answer:</b></u></h5>

In [14]:
x=55  #integer value
y=3.14  #float value
z="PYTHON"  #string value
print("x:",x," ",type(x))
print("y:",y," ",type(y))
print("z:",z," ",type(z))

x: 55   <class 'int'>
y: 3.14   <class 'float'>
z: PYTHON   <class 'str'>

<h4><b>Ques3:</b>Swap the values of two variables without using a third variable. </h5>
<h5><u><b>Answer:</b></u></h5>

In [15]:
x=15
y=17
print("Before Swapping")    #before swapping
print("x:",x)
print("y:",y)
print("After Swapping")    #after swapping
print("x:",y)
print("y:",x)

Before Swapping
x: 15
y: 17
After Swapping
x: 17
y: 15

<h4><b>Ques4:</b>Assign a single value to multiple variables in one line. Show with an example. </h5>
<h5><u><b>Answer:</b></u><h5>

In [16]:
x=y=z=10   #assigning single value to multiple variable
print("x=",x)
print("y=",y)
print("z=",z)

x= 10
y= 10
z= 10

<h4><b>Ques5:</b>Assign multiple values to multiple variables in one line. Show with an example. </h4>
<h5><u><b>Answer:<u></b></h5>

In [24]:
x,y,z=10,20,30
print("x:",x)
print("y:",y)
print("z:",z)

x: 10
y: 20
z: 30

<h4><b>Ques6:</b>Explain the difference between = and == with examples.</h4>
<h5><u><b>Answer:<u></b></h5>

<h3><b><u><span style="color:red">= operator :</span></u></b></h3>

##### <h5>= is a <u>assignment operator</u> which is used to assign the values to variable</h5>
<h5><b><u>Example:</u></b></h5>

In [25]:
x=10 #assignment operator
print(x)

10

<h5>== is a <u>Equality Operator </u>which is used to compare two value .</h5>

In [28]:
x=10
print(x==10)   #comparison operator (True)
print(x==15)   #compariosn operator(False)

True
False

<h4><b>Ques7:</b>Write a program to calculate the area of a rectangle using variables length and Breadth</h4>
<h5><u><b>Answer:<u></b></h5>

In [33]:
length=float(input("Enter the length of rectangle :"))
breadth=float(input("Enter the breadth of rectangle :"))
area=length*breadth
print("Area of rectangle is :",area)

Enter the length of rectangle : 5
Enter the breadth of rectangle : 5

Area of rectangle is : 25.0

<h4><b>Ques8:</b>Write a Python program to compute the average of three numbers stored in variables.</h4>
<h5><u><b>Answer:<u></b></h5>

In [36]:
num1= int(input("Enter the first number"))
num2= int(input("Enter the Second number"))
num3= int(input("Enter the Third number"))
avg=num1+num2+num3/3
print("The average of three numbers is:",avg)

Enter the first number 1
Enter the Second number 2
Enter the Third number 3

The average of three numbers is: 4.0

<h4><b>Ques9:</b>Create variables a = 10 and b = 5. Perform addition, subtraction, multiplication, 
division, modulus, and floor division. </h4>
<h5><u><b>Answer:<u></b></h5>

In [37]:
a=10
b=5
print("addition:",a+b)   #addition
print("substraction:",a-b)  #substraction
print("multiplication:",a*b) #multiplication
print("division:",a/b)  #division
print("modulus:",a%b) #modulus
print("floor division",a//b)  #floor division

addition: 15
substraction: 5
multiplication: 50
division: 2.0
modulus: 0
floor division 2

<h4><b>Ques10:</b> What are constants? Explain with examples in Python.</h4>
<h5><u><b>Answer:<u></b></u></h5><h3><span style="color:red">Constants:</span></h3>

<h5>A <u>Constant</u> is a variable whose value is not meant to change throught the program.Constants are also known as literals in python. These are written in the uppercase.
<h5><b>Example : </b>PI=3.14</h5>

<h4><b>Ques11:</b>Define variable naming rules in Python with correct and incorrect examples. </h4>
<h5><u><b>Answer:</u><span style="color:red">Rules for naming variable:</span></b></h5>

<h5>To use variables effectively, we must follow Python naming rules: </h5>

-> Variable names can only contain letters, digits and underscores (_). 
    
-> A variable name cannot start with a digit. 
    
-> Variable names are case-sensitive (myVar and myvar are different). 

-> Avoid using Python keywords (e.g., if, else, for) as variable names.

<h5><b><u>Correct Examples:</u></b></h5>

In [44]:
_colour = "red" 
total_score = 90

<h4><b><u>Incorrect Example</u><b></h5>

In [ ]:
1name = "Error"  # Starts with a digit 
class = 10       
# 'class' is a reserved keyword

 <h4><b>Ques12:</b> What is the difference between local and global variables? Demonstrate with code. </h4>
<h5><u><b>Answer:</u></b></h5>

<table border="3">
 <thead>
    <tr>
     <th>Features</th>
     <th>Global Variable</th>
     <th>Local Variable</th>
    </tr>
 </thead>
 <tbody>
  <tr>
    <td><b>Scope<b></td>
<td>Anywhere in program </td>
    <td>Only inside the function</td>
    </tr>
    
   <tr>
      <td><b>Accessibility</b></td>
      <td>Can be accessed & modified</td>
      <td>Can be accessed inside the Function</td>
    </tr>
    </tbody>
</table>

<h4><b>Demonstrating the code</b><h4>

In [ ]:
x=10
def show():
    y=5
    print("Inside Function:")
    print("x:",x)  #accessing global variable
    print("y:",y)  #accesing local variable
show()
   print("Outside Function:")
   print("x:",x) #only global variable can be accessed outside
   print("y:",y) #accessing it cause error as y is local

#### <h4><b>Ques13:</b> Show an example of dynamic typing in Python.</h4>
<h5><u><b>Answer:<u></b></h5>

<h5><span style="color:red">Dynamic Typing</span> </h5>
<h5>Python variables are dynamically typed, meaning the same variable can hold 
different types of values during execution. </h5>
x = 10 

x = "Now a string" 

<b>Multiple Assignments </b>

Python allows multiple variables to be assigned values in a single line.

<h4><b>Ques14:</b> Explain type casting with an example of converting integer to float and string to integer.</h4>
<h5><u><b>Answer:</u><span style="color:red">Type Casting:</span></b></h5>

In [ ]:
Type Casting is the method to convert the Python variable datatype into a certain 
data type in order to perform the required operation by users. In this article, we will 
see the various techniques for typecasting. There can be two types of Type Casting 
in Python
                
● Python Implicit Type Conversion 
● Python Explicit Type Conversion

<b>convert integer to float.</b>

In [54]:
n=55
print(n)
print(type(n))
s=float(n)
print(s)
print(type(s))

55
<class 'int'>
55.0
<class 'float'>

<b>Convert string to integer</b>

In [56]:

t="57"
print(type(t))
l=int(t)
print(type(l))

<class 'str'>
<class 'int'>

<h4><b>Ques15:</b>Write a program to calculate simple interest using variables. </h4>
<h5><u><b>Answer:<u></b></h5>

In [58]:
Principle=int(input("Enter the Principle amount"))
Rate=int(input("Enter the rate"))
Time=int(input("Enter the time"))
SI=Principle*Rate*Time/100
print("The simple Interest is:",SI)

Enter the Principle amount 10
Enter the rate 20
Enter the time 30

The simple Interest is: 60.0

<h4><b>Ques16:</b> Store your name, age, and course name in variables. Print them using formatted string 
(f-string).</h4>
<h5><u><b>Answer:<u></b></h5>

In [63]:
name="Muskan"
age=19
course="Btech(CSE(AI&DS))"
print(f"my name is {name} ,I am {age} years old, and I am currently pursuing {course}.")

my name is Muskan ,I am 19 years old, and I am currently pursuing Btech(CSE(AI&DS)).

<h4><b>Ques17:</b>Write a program to swap two numbers using a temporary variable.</h4>
<h5><u><b>Answer:<u></b></h5>

a=5
b=7
print("Before Swapping")
temp=a
a=b
b=temp
print("After Swapping a=",a,"b=",b)

<h4><b>Ques18:</b> Explain mutable vs immutable objects. Which category does a string belong to ?</h4>
<h5><u><b>Answer:<u></b></h5>

<h3><b><u><span style="color:red">Mutable Objects</span></u></b></h3>

<h5>Mutable objects can be changed after they are created -their contents(values,elements,or state)can be modified in place.

<h4><b>Examples:</b></h4>
*List,dictionary,set

<h3><b><u><span style="color:red">Immutable Objects</span></u></b></h3>
<h5>Immutuable objects are those that cannot be changed. No chage once they are created. Any modification creates a new object.
<h4><b>Examples:</b></h4>
*int,float,str,tuple,frozenset,bytes

<h3><u><b>STRING</u> is a immutable object.

<h4><b>Ques19:</b> Write a program to convert temperature from Celsius to Fahrenheit using variables.</h4>
<h5><u><b>Answer:<u></b></h5>

In [69]:
Celsius=int(input("Enter the temperature in celsius"))
Fahrenheit=(Celsius*9/5)+32
print("The temperature in celsius:",Celsius)
print("The temperature in Fahrenheit:",Fahrenheit)

Enter the temperature in celsius 25

The temperature in celsius: 25
The temperature in Fahrenheit: 77.0

<h4><b>Ques20:</b>Create a variable radius. Calculate the area and circumference of a circle.</h4>
<h5><u><b>Answer:<u></b></h5>

In [68]:
Radius=int(input("Enter the radius of a circle:"))
area=3.14*Radius**2
circumference=2*3.14*Radius
print("The area of a circle is:",area)
print("The circumference of a circle is:",circumference)

Enter the radius of a circle: 5

The area of a circle is: 78.5
The circumference of a circle is: 31.400000000000002

<h4><b>Ques21:</b>Demonstrate concatenation of integer and string with type conversion. </h4>
<h5><u><b>Answer:<u></b></h5>

In [65]:
num=5  #integer
text="bird"   #string
result=str(num)+" "+ text  #concatenation
print(result)

5 bird

<h4><b>Ques22:</b>What happens if you use an undefined variable in Python? Show an example.</h4>
<h5><u><b>Answer:<u></b></h5>

<h5>If we use undefined variable in Python,undefined variable means variable that has not assigned any value yet-then Python will raise <u>Name Error.

print(o)  #trying to use x before defining it.

<b>NameError:name'o' is not defined </b>

<h4><b>Ques23:</b>Write a program to calculate the perimeter of a triangle using variables. </h4>
<h5><u><b>Answer:<u></b></h5>

In [66]:
side=int(input("Enter the side of the traingle:"))
perimeter=3*side
print("The perimeter of the Triangle:",perimeter)

Enter the side of the traingle 5

The perimeter of the Triangle 15

<h4><b>Ques24:</b>Store marks of 5 subjects in variables. Calculate and print total and percentage. </h4>
<h5><u><b>Answer:<u></b></h5>

In [82]:
sub1=int(input("Enter the marks of first subject"))
sub2=int(input("Enter the marks of second subject"))
sub3=int(input("Enter the marks of third subject"))
sub4=int(input("Enter the marks of fourth subject"))
sub5=int(input("Enter the marks of fifth subject"))
Total=sub1+sub2+sub3+sub4+sub5
Percentage=(Total/500)*100
print("Marks of 5 subjects:")
print(sub1,sub2,sub3,sub4,sub5)
print("The total marks of 5 subjects:",Total)
print("The percentage of 5 subjects:",Percentage)

Enter the marks of first subject 50
Enter the marks of second subject 49
Enter the marks of third subject 50
Enter the marks of fourth subject 49
Enter the marks of fifth subject 50

Marks of 5 subjects:
50 49 50 49 50
The total marks of 5 subjects: 248
The percentage of 5 subjects: 49.6

<h4><b>Ques25:</b> Explain the difference between is and == operators with examples.</h4>
<h5><u><b>Answer:<u></b></h5>

<h3><u><span style="color:red">Is Operator</span></u></h3>
<h4>It is an Identity Operator that compares the memory location that is object identity.


<h3><u><span style="color:red">== Operator</span></u></h3>
<h4>It is an Equality Operator that compares the values of objects.
    
<h3><b><u>Example:</u></b></h3>

In [79]:
a=[1,2,3]
b=[1,2,3]
print(a is b) #False-different objects in memory
print(a == b) #True-same contents

False
True

<h2><b><u><span style="color:red">Part B: Strings</span></u>(39 Questions)</b><h2>

<h4><b>Ques26:</b>Define what a string is in Python. Give 3 examples of string declarations.</h4>
<h5><u><b>Answer:<u></b></h5>

<h3><u><b><span style="color:red">Strings</span></b></u></h3>

<h5>Python Strings are arrays of bytes representing Unicode characters. In Python, there is no character data type Python, a character is a string of length one. It is 
represented by the str class. Strings in Python can be created using single quotes, double quotes or even triple 
quotes. We can access individual characters of a String using index.</h5>

<h4><b>Examples:</b></h4>

In [84]:
name='Muskan'  #using single quotes
book="Atomic Habits"  #using double quotes
sentence=''' Hello my name is Ankita.'''#using triple quotes

<h4><b>Ques27:</b>Write a program to print your name in uppercase, lowercase, and title case.</h4>
<h5><u><b>Answer:<u></b></h5>

In [88]:
name="MUSkan"
print("Name in upper case:",name.upper())
print("Name in lower case:",name.lower())
print("Name in title:",name.title())

Name in upper case: MUSKAN
Name in lower case: muskan
Name in title: Muskan

<h4><b>Ques28:</b>Find the length of a string using len(). </h4>
<h5><u><b>Answer:<u></b></h5>

In [94]:
str="hello Python"
length=len(str)
print("The length of the string(str) is:",length)

The length of the string(str) is: 12

<h4><b>Ques29:</b> Concatenate two strings and print the result. </h4>
<h5><u><b>Answer:<u></b></h5>

In [91]:
str1="Muskan"
str2="Himalyan"
result=str1+" "+str2
print("Full Name:",result)

Full Name: Muskan Himalyan

<h4><b>Ques30:</b> Extract the first 5 characters of the string "Unisole Empower"</h4>
<h5><u><b>Answer:<u></b></h5>

In [96]:
str="Unisole Empower"
result=str[0:5]
print("The first  5 character of string Unisole Empower is:",result)

The first charactor of string Unisole Empower is: Uniso

<h4><b>Ques31:</b>Extract the last 4 characters of the string "DataScience". </h4>
<h5><u><b>Answer:<u></b></h5>

In [97]:
str="DataScience"
result=str[7:11]
print("The last 4 character of string DataScience:",result)

The last 4 character of string DataScience: ence

<h4><b>Ques32:</b> Write a program to reverse a string.</h4>
<h5><u><b>Answer:<u></b></h5>

In [99]:
str="Python"
reverse_order=str[::-1]
print("The reverse of str is:",reverse_order)

The reverse of str is: nohtyP

<h4><b>Ques33:</b> Check if a substring "Empower" exists in "Unisole Empower".</h4>
<h5><u><b>Answer:<u></b></h5>

In [102]:
str="Unisole Empower"
substring="Empower"
if substring in str:
    print("substring Found!")
else:
    print("not found")

substring Found!

<h4><b>Ques34:</b> Replace "Python" with "Data Science" in the string "I am learning Python". </h4>
<h5><u><b>Answer:<u></b></h5>

In [103]:
str="I am learning Python"
replacing_str=str.replace("Python","Data Science")
print("Now the string becomes:",replacing_str)

Now the string becomes: I am learning Data Science

<h4><b>Ques35:</b>Remove spaces from the string " Hello World ". </h4>
<h5><u><b>Answer:<u></b></h5>

In [109]:
str="Hello World"
new_str="".join(str.split())
print("Now the string becomes:",new_str)

Now the string becomes: HelloWorld

<h4><b>Ques36:</b>Split the string "apple,banana,mango" into a list. </h4>
<h5><u><b>Answer:<u></b></h5>

In [113]:
str= "apple,banana mango"
list=str.split()
print("The list is:",list)

The list is: ['apple', ',banana,', 'mango']

<h4><b>Ques37:</b>Join the list ["AI", "ML", "DL"] into a string with - separator. </h4>
<h5><u><b>Answer:<u></b></h5>

In [114]:
list= ["AI", "ML", "DL"] 
str="-".join(list)
print("Now the string is:",str)

Now the string is: AI-ML-DL

<h4><b>Ques38:</b>Write a program to count the number of vowels in a string.</h4>
<h5><u><b>Answer:<u></b></h5>

In [123]:
text=input("Enter any string")
vowels="aeiouAEIOU"
count=0
for char in text:
  if char in vowels:
      count +=1
print("Number of vowels:",count)

Enter any string Muskan

Number of vowels: 2

<h4><b>Ques39:</b>Check if a string is palindrome or not. </h4>
<h5><u><b>Answer:<u></b></h5>

In [126]:
text=input("Enter any string")
reverse_text=text[::-1]
if text==reverse_text :
    print(f"{text} is a palindrome.")
else:
    print(f"{text} is not a palindrome.")

Enter any string madam

madam is a palindrome.

<h4><b>Ques40:</b> Write a program to print each character of a string on a new line. </h4>
<h5><u><b>Answer:<u></b></h5>

In [128]:
text=input("Enter a string:")
for char in text :
   print("The characters are:",char)

Enter a string: Python

The characters are: P
The characters are: y
The characters are: t
The characters are: h
The characters are: o
The characters are: n

<h4><b>Ques41:</b>Convert "12345" (string) into integer and perform addition with another integer. </h4>
<h5><u><b>Answer:<u></b></h5>

In [129]:
str="12345"
integer=int(str)
another_num=55
print("Addition:",integer + another_num)

Addition: 12400

<h4><b>Ques42:</b> Find the index of "E" in "Empower". </h4>
<h5><u><b>Answer:<u></b></h5>

In [132]:
str="Empower"
index=str.find("E")
print("The index of E in Empower:",index)

The index of E in Empower: 0

<h4><b>Ques43:</b> Use slicing to print characters from index 2 to 6 of "DataScience". </h4>
<h5><u><b>Answer:<u></b></h5>

In [133]:
str="DataScience"
print(str[2:7])

taSci

<h4><b>Ques44:</b>Demonstrate difference between single quotes, double quotes, and triple quotes.</h4>
<h5><u><b>Answer:<u></b></h5>


<h3><u><b><span style="color:red">single quote</span></b></u></h3>


<h4>Used for short,single line strings.</h4>

In [184]:
str1='hello UNISOLE'
print(str1)

hello UNISOLE

<h3><u><span style="color:red">double quote</u></span><h3>
<h4> Used for single line string as well as just like quote</h4>

In [185]:
str2="book"
print(str2)

book

<h3><u></u><span style="color:red">Triple quote</span></h3></u><h3>

<h4>Used for multiline strings or docstring(function or class documentation).</h4>

In [186]:
str3="""my name is Alisha. i am pursuing btech in computer science from VIT Vellore"""
print(str3)

my name is Alisha. i am pursuing btech in computer science from VIT Vellore

<span style="color:red"></span>

<h4><b>Ques45:</b> Format a string using the .format() method. Example: "My name is {}, I am {} 
years old". </h4>
<h5><u><b>Answer:<u></b></h5>

In [146]:
name="Muskan"
age=19
message="My name is {},I am {} years old .".format(name,age)
print(message)

My name is Muskan,I am 19 years old

<h4><b>Ques46:</b> Count how many times "a" appears in "banana". </h4>
<h5><u><b>Answer:<u></b></h5>

In [137]:
text="banana"
str="a"
count=0
for char in text :
   if char in str:
     count +=1
print("no. of times 'a' appears in 'banana':",count)

no. of times 'a' appears in 'banana': 3

<h4><b>Ques47:</b> Write a program to check if a string starts with "Uni" and ends with "wer"</h4>
<h5><u><b>Answer:<u></b></h5>

In [145]:
str=input("Enter any string")
if str.startswith("Uni")and str.endswith("wer"):
     print(f"{str} start with 'Uni' and end with 'wer' ") 
else:
     print(f"{str} does not start with 'Uni' and end with 'wer' ")

Enter any string Unisole Empower

Unisole Empower start with 'Uni' and end with 'wer'

<h4><b>Ques48:</b>Explain string immutability with an example. </h4>
<h5><u><b>Answer:<u></b></h5>

<h3><u><span style="color:red">String immutablity</span></u></h3>
<h4> It means once you create a string ,you cannout modify its content -you can only create a new string</h4>

str1="Hello"
text[0]= 'y'  #trying to change first letter

<b>TypeError:'str' object does not support item assignment.</b>

<h4><b>Ques49:</b> Write a program to remove all digits from the string "Unisole123Empower456".</h4>
<h5><u><b>Answer:<u></b></h5>

In [158]:
text="Unisole123Empower456"
result=' '.join([ch for ch in text if not ch.isdigit()])
print("string without Digits:",result)

string without Digits: U n i s o l e E m p o w e r

<h4><b>Ques50:</b>Write a program to check if a string contains only alphabets. </h4>
<h5><u><b>Answer:<u></b></h5>

In [150]:
text=input("Enter any text:")
if text.isalpha():
    print(f"{text} contains only alphabets.")
else:
    priny(f"{text} contains not only alphabets.")

Enter any text: Unisole

Unisole contains only alphabets.

<h4><b>Ques51:</b> Write a program to check if a string contains only digits.</h4>
<h5><u><b>Answer:<u></b></h5>

In [149]:
text=input("Enter any text:")
if text.isdigit():
    print(f"{text} contains only digits")
else:
    print(f"{text} does not contains only digits")

Enter any text: Python

Python does not contains only digits

<h4><b>Ques52:</b>Create a multiline string and print it.</h4>
<h5><u><b>Answer:<u></b></h5>

In [188]:
message="""Hello everyone, my name is Muskan and I am the learning Full Stack Data Science Course .I am learning various concept ."""
print(message)

Hello everyone, my name is Muskan and I am the learning Full Stack Data Science Course .I am learning various concept .

<h4><b>Ques53:</b>Write a program that takes a string input from the user and prints it in reverse.</h4>
<h5><u><b>Answer:<u></b></h5>

In [153]:
str=input("Enter a string:")
reverse=str[::-1]
print("The reverse of the string is :", reverse)

Enter a string: HELLO WORLD

The reverse of the string is : DLROW OLLEH

<h4><b>Ques54:</b>Explain raw strings with an example. </h4>
<h5><u><b>Answer:<u></b></h5>

<h4><b><u><span style="color:red">Raw strings</span></b></u>
<h5> In Python , a raw string is a string prefixed with the letter r or R .It tell not to treat backslashes (/) as a escape characters. </h5>

<h5><u><b>Example:</b></u></h5>

In [182]:
text=r"hello\nWorld"    #raw string
print(text)

hello\nWorld

<h4><b>Ques55:</b> Write a program to capitalize the first letter of each word in a string. </h4>
<h5><u><b>Answer:<u></b></h5>

In [156]:
str=input("Enter the string:")
capital_letter=str.title()
print("The capitalize string is:",capital_letter)

Enter the string: unisole empower

The capitalize string is: Unisole Empower

<h4><b>Ques56:</b>Check if string is a valid email address. </h4>
<h5><u><b>Answer:<u></b></h5>

In [14]:
import re
email=input("Enter an email address")

# Regular expression for validating an Email
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'

if re.match(pattern, email):
    print("Valid email address ")
else:
    print("Invalid email address ")

Enter an email address himalyanmuskan@gmail.com

Valid email address

<h4><b>Ques57:</b>Extract the protocol (http or https ) from a URL string.</h4>
<h5><u><b>Answer:<u></b></h5>

In [15]:
url=input("Enter the url:")
# Split at '://'
if "://" in url:
    protocol = url.split("://")[0]
    print("Protocol:", protocol)
else:
    print("No protocol  is found in given URL")

Enter the url: https://web.com

Protocol: https

<h4><b>Ques58:</b>Find the frequency of each character in a string. </h4>
<h5><u><b>Answer:<u></b></h5>

In [160]:
text=input("Enter any string:")
freq={}
for char in text:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1
print("Character frequencies:")
for char,count in freq.items():
    print(f" '{char}':{count}")

Enter any string: basics of python

Character frequencies:
 'b':1
 'a':1
 's':2
 'i':1
 'c':1
 ' ':2
 'o':2
 'f':1
 'p':1
 'y':1
 't':1
 'h':1
 'n':1

<h4><b>Ques59:</b> Check if strings are anagrams.  </h4>
<h5><u><b>Answer:<u></b></h5>

In [162]:
str1=input("Enter first string:").replace(" ","").lower()
str2=input("Enter second string:").replace(" ","").lower()
if sorted(str1)==sorted(str2):
    print("These are anagrams.")
else:
    sorted("These are not anagrams.")

Enter first string: listen
Enter second string: silent

These are anagrams.

<h4><b>Ques60:</b> Encode a string using a Caesar Cipher. </h4>
<h5><u><b>Answer:<u></b></h5>

In [12]:
text = input("Enter text which you want to encode: ")
shift = int(input("Enter  the value by which you want shift value: "))

result = ""

for ch in text:
    if ch.isalpha():
        base = ord('A') if ch.isupper() else ord('a')
        result += chr((ord(ch) - base + shift) % 26 + base)
    else:
        result += ch

print("Encoded text:", result)

Enter text which you want to encode:  hamirpur
Enter  the value by which you want shift value:  2

Encoded text: jcoktrwt

<h4><b>In a Caesar Cipher</b> : it shifts each letter by fixed number of positions in the alphabet</h4>

In [179]:
text=input("Enter a word")
shift=int(input("Enter the value to shift:"))
encoded_text=""
for char in text:
    if char.isalpha():
            base = ord('A') if char.isupper()  else ord('a')
            encoded_char= chr((ord(char)-base + shift) % 26 + base)
    else: 
            encoded_text += char
print("Encoded message:",encoded_text)

Enter a word hello
Enter the value to shift: 2

Encoded message:

<h4><b>Ques61:</b> Decode a Caesar Cipher encoded string.  </h4>
<h5><u><b>Answer:</u></b></h5>

In [10]:
text = input("Enter encoded text: ")
shift = int(input("Enter shift value: "))

result = ""

for ch in text:
    if ch.isalpha():
        base = ord('A') if ch.isupper() else ord('a')
        result += chr((ord(ch) - base - shift) % 26 + base)
    else:
        result += ch

print("Decoded text:", result)

Enter encoded text:  PYTHON
Enter shift value:  3

Decoded text: MVQELK

<h4><b>Ques62:</b> Find all unique words in a string. </h4>
<h5><u><b>Answer:</u></b></h5>

In [2]:
text=input("Enter any string:")
unique_words= set(text.split())
print("unique words in the string:",unique_words)

Enter any string: hello python basics

unique words in the string: {'python', 'hello', 'basics'}

<h4><b>Ques63:</b> Remove the nth word from a string.  </h4>
<h5><u><b>Answer:<u></b></h5>

In [5]:

def remove_nth_word(sentence, n):
    words = sentence.split()          # Split the string into words
    if 1 <= n <= len(words):          # Check if n is valid
        del words[n - 1]              # Remove the nth word (index starts from 0)
    return " ".join(words)  

 #example
sentence = "Unisole is a powerful app"
n = 3
result = remove_nth_word(sentence, n)
print("Initial sentence :", sentence)
print("After removing nth string", n, "word:", result)

Initial sentence : Unisole is a powerful app
After removing nth string 3 word: Unisole is powerful app

<h4><b>Ques64:</b> Insert a word at the nth position in a string. </h4>
<h5><u><b>Answer:<u></b></h5>

In [6]:
# Input string
text = input("Enter a string: ")
word = input("Enter the word to insert: ")
n = int(input("Enter the position (starting from 1): "))

# Find the position to insert
spaces = 0
index = 0

# Loop to find nth position 
for i in range(len(text)):
    if text[i] == ' ':
        spaces += 1
    if spaces == n - 1:
        index = i
        break

# Insert the word
if n == 1:
    new_text = word + " " + text
elif spaces < n - 1:  #
    new_text = text + " " + word
else:
    new_text = text[:index] + " " + word + text[index:]

print("String after insertion:", new_text)

Enter a string:  useful assignments of Python
Enter the word to insert:  Basics
Enter the position (starting from 1):  5

String after insertion: useful assignments of Python Basics